<form (submit)="onSubmit(myForm)" #myForm="ngForm">
  <div class="input">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      required
      [(ngModel)]="title"
      (input)="checkBtnDisable()"
    />
  </div>

  <div class="input">
    <label for="date">Date</label>
    <input
      type="date"
      name="date"
      id="date"
      required
      [(ngModel)]="date"
      (input)="checkBtnDisable()"
    />
  </div>
  <button
    type="submit"
    [disabled]="buttonDisabled()"
    [class]="buttonDisabled() ? 'disabledBtn' : ''"
  >
    Create
  </button>
</form>

@if(dateError()){
<p>If Chuck Norris cannot travel back in time, neither can you!</p>
} @if(timerOn()){
<button (click)="reset()">Reset Timer!</button>
}
