h1 {
  color: #72035d;
  text-overflow: ellipsis;
  font-weight: 800;
}

p {
  font-weight: 400;
}

div {
  text-align: center;
  overflow-wrap: break-word;
  max-width: calc(100vw - 20px);
  display: flex;
  flex-direction: column;
}
