@if (timer.titleCountdown().length) {
  <div>
    <h1
      appAdjustToScreen
      [appAdjustToScreenTrigger]="titleTrigger()"
      class="mainTitle"
    >
      Time left to {{ timer.titleCountdown() }}
    </h1>
    <h1
      class="secondaryTitle"
      appAdjustToScreen
      [appAdjustToScreenTrigger]="timeTrigger()"
    >
      {{ timer.days() }} days, {{ timer.hours() }} h, {{ timer.minutes() }}m,
      {{ timer.seconds() }}s
    </h1>
  </div>
} @else {
  <div>
    <h1 appAdjustToScreen class="mainTitle">
      Set your title in the form below.
    </h1>
  </div>
}
