@font-face {
  font-family: 'OpenSauceOne';
  src: url('assets/font/OpenSauceOne/OpenSauceOne-Regular.woff')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  font-family: 'OpenSauceOne';
}
